PUBKEY_HOST="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYOxdo6eHECHuyjw35aZ+4t688brLcULl5jUyZUsBEkAABwdt6gvpFahygFS4eUiEpF0BcvHxfRnYPDMhOwwMMT9/Sx4L4EQrHAjOH8x7fjn4vZBg9/Q2myMdOhMum+ZsS2lFuTcLFsA6HHm2UNVn+/N4TVsU7NBQzwvuIYBd/mKsq6U7WvCUh2bunjr/r3+g42DvWb9kVheK4DOqBJoPtaXCBSdL0b0NQkwgnDWGG+sxw6eZHNRbwJZTrc+Wv5ZRWpcKMcoVDYLsiSxyYz2PEdx6w1Dl4Duz19ib+R6Q9IFKHjrsumIyhq3v8Vl2OUzZyN4UE60wykZFjjg9+CpAj foo@remote"
PUBKEY_CLIENT="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCrpUCM2Yf2Csi03H1Rjuws1IS+fx5P2MF5lDacsXsuDjRMCFH7s/Aqwoam6mqO0gC9e1q0G5hNJFZSe6B+/keHKE8b66qW2k1AkSb4ZsKYwW29Fx9jlaSucJuPBAMZN6S50PdOsJJm4YQzBYMQDbEiv8OuC8EYQ3zulaMWpkV70J29j+OGB7pHU0E2nOetKcfO+CFnyJdk4T5C+AMmevVTrzFQGoDqYTUKYoJqY/4wHlrBcXQxOGbopSFh7aK5TPlDICimOZZPTiWPUEJJ+NiLAtU8vwUo562U+xr+GJYZzCnE8IW9ne3Zk3u9hEplpyqKiZXXS5XWG6gi9/Ojgd09 clive@laptop\nssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDnDOP8o0vbvZ1sxLM+5AOJIWxOm9PjTysOecR+dJBQ488EAITvkIG/54x0utPmjROFrtPkZoxu/phekQOCvWX33tyYg+aXqd4v/md7z2w/ZDHgm7RsiqtOUb4SgE11V6hbfsRWvY8IPpnVtzT9OXXRl0AXouABCUQ62rWG/M53iyc/N7nyFuSyJMmxQ1AudZMlbMw+r05Af2MIs+i0zjYtT4qWjTEq7Hk1B1wsFCDYmoUy/7eOaOSbhdZliQQKClyirPXqnKvQdfPy1oXdgQ//GFUiwC9aBa/Wn4JXnX2aeLLKjjgQDuAI1Q1LasxGpRUNSbIfzJ23DtPulNLSXTWT clive@home"
BASTION=bastion.somewhere.example.com
BASTION_PASSWORD=passw0rd
HOST_USER=foo
